@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background: #ffffff;
  color: #0f172a;
}

.container-width {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

:root {
  --p: 221 83% 53%;
}